# 1. Introduction To The Dataset

In [1]:
# Read the CSV file into a string.
csv_list = open("US_births_1994-2003_CDC_NCHS.csv").read().split('\n')

In [2]:
# Display the first 10 values in the resulting list
csv_list[:10]

['year,month,date_of_month,day_of_week,births',
 '1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053',
 '1994,1,6,4,11406',
 '1994,1,7,5,11251',
 '1994,1,8,6,8653',
 '1994,1,9,7,7910']

# 2. Converting Data Into A List Of Lists

In [5]:
def read_csv(file):
    # read the file
    string_data = open(file).read()
    
    # split the string on the newline and removes the header row
    string_list = string_data.split('\n')[1:]
    
    # create an empty list
    final_list = []
    
    for line in string_list:
        # Create an empty list
        int_fields = []
        
        # Splits each row on the comma delimiter (,)
        string_fields = line.split(',')
        
        for item in string_fields:
            int_fields.append(int(item))
        
        final_list.append(int_fields)
        
    return final_list

In [6]:
cdc_list = read_csv("US_births_1994-2003_CDC_NCHS.csv")

In [9]:
# Display the first 10 rows
cdc_list[:10]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053],
 [1994, 1, 6, 4, 11406],
 [1994, 1, 7, 5, 11251],
 [1994, 1, 8, 6, 8653],
 [1994, 1, 9, 7, 7910],
 [1994, 1, 10, 1, 10498]]

# 3. Calculating Number Of Births Each Month

In [11]:
def month_births(data):
    # Creates an empty dictionary to store the monthly births total
    births_per_month = {}
    
    for line in data:
        month = line[1]
        births = line[4]
        
        if month in births_per_month:
            births_per_month[month] = births_per_month[month] + births
        else:
            births_per_month[month] = births
    
    return births_per_month

In [12]:
# Calculate the monthly totals for the dataset
cdc_month_births = month_births(cdc_list)

In [ ]:
# display the result
cdc_month_births

# 4. Calculating Number Of Births Each Day Of Week

In [15]:
def dow_births(data):
    # create an empty dist to store the data
    births_per_dow = {}
    
    for line in data:
        dow = line[3]
        births = line[4]
        
        if dow in births_per_dow:
            births_per_dow[dow] = births_per_dow[dow] + births
        else:
            births_per_dow[dow] = births
    
    return births_per_dow

In [16]:
cdc_day_births = dow_births(cdc_list)

In [17]:
cdc_day_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

# 5. Creating A More General Function

In [18]:
def calc_counts(data, column):
    # create empty list 
    sum_births = {}
    
    for line in data:
        col = line[column]
        births = line[4]
        
        if col in sum_births:
            sum_births[col] = sum_births[col] + births
        else:
            sum_births[col] = births
    
    return sum_births

In [19]:
# yearly totals births
cdc_year_births = calc_counts(cdc_list,0)
cdc_year_births

{1994: 3952767,
 1995: 3899589,
 1996: 3891494,
 1997: 3880894,
 1998: 3941553,
 1999: 3959417,
 2000: 4058814,
 2001: 4025933,
 2002: 4021726,
 2003: 4089950}

In [20]:
# monthly total births
cdc_month_births = calc_counts(cdc_list, 1)
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [22]:
# day of month total births
cdc_dom_births = calc_counts(cdc_list,2)
cdc_dom_births

{1: 1276557,
 2: 1288739,
 3: 1304499,
 4: 1288154,
 5: 1299953,
 6: 1304474,
 7: 1310459,
 8: 1312297,
 9: 1303292,
 10: 1320764,
 11: 1314361,
 12: 1318437,
 13: 1277684,
 14: 1320153,
 15: 1319171,
 16: 1315192,
 17: 1324953,
 18: 1326855,
 19: 1318727,
 20: 1324821,
 21: 1322897,
 22: 1317381,
 23: 1293290,
 24: 1288083,
 25: 1272116,
 26: 1284796,
 27: 1294395,
 28: 1307685,
 29: 1223161,
 30: 1202095,
 31: 746696}

In [23]:
# day of week total births
cdc_dow_births = calc_counts(cdc_list,3)
cdc_dow_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}